@import '~bootstrap/scss/bootstrap';

#whole-board, .game-board {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

h1, h3 {
  text-align: center;
}

#whole-board {
  margin: auto;
}

.game-board {
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
}

.hidden {
  display: none;
}

#game-buttons {
  border: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
